<div class="new-post-form">
  {{input type="text" placeholder="Name" value=name class="name-input"}}
  {{input type="text" placeholder="Message" value=body class="body-input"}}
  <button {{action 'addPost'}} class="submit">Submit</button>
</div>
